
div{
    display: flex;
    margin-right: auto;
}
ul{
    background-color: green;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 40px;
    border: 70px;
    padding: 20px;
}
button{
    border-color: black;
    background-color: #ff0;
    border-style: solid;
    width: 100px;
    height: 30px;
}

span{
    background-color: cadetblue;
    float: right;
    position: relative;
    width: 300px;
    margin-top: 0px;
    padding: 8%;
    margin-bottom: 100px;
}

p{
background-color: white;
float: left;
}
h1{
grid-row-start: auto;
}
input{
    width: 110%;
    border-style: double;
    border-color: black;
    height: 30px;
}
i{
    color: cadetblue;
}
